<figure class="card">
    <div class="card__hero">
        <img src="data/img/macbook-pro-15.jpg" alt="" class="card__img">
    </div>
    <h2 class="card__name">Apple Macbook Pro 2018</h2>
    <p class="card__detail"><span class="emoji-left">🖥</span> 15-inch Retina display</p>
    <p class="card__detail"><span class="emoji-left">🧮</span> 6-core Intel i7, 8th generation</p>
    <div class="card__footer">
        <p class="card__price">$3199</p>
        <a href="laptop.html" class="card__link">Check it out <span class="emoji-right">👉</span></a>
    </div>
</figure>